@import url(http://fonts.googleapis.com/css?family=Patua+One);

#ribbon {
    padding: .34em 1em;
    position:absolute;
    top:0%;
    left:0%;
    z-index: 20;
    color: #ffffff;
    font: 32px 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    text-align: center;
    letter-spacing:0.1em;
    text-shadow: 0px -1px 0px rgba(0,0,0,0.3);
    box-shadow: inset 0px 1px 0px rgba(255,255,255,.3),
    inset 0px 0px 20px rgba(0,0,0,0.1),
    0px 1px 1px rgba(0,0,0,0.4);
    background: -webkit-linear-gradient(top,#1eb2df, #17a7d2);
    display: inline-block;
}



#ribbon:before {
    left:-1.35em;
    border-right-width: .75em;
    border-left-color:transparent;
}


#content:before {
    left: 0;
    border-width: .5em 0 0 .5em;
}